<?xml version="1.0"?>
<experiment>
	<session>
		<item>
			<order>1</order>
			<name>tf</name>
			<parameters>
				<param>
					<name>tf_bucket_range</name>
					<value>50</value>
				</param>
			</parameters>
		</item>
		<item>
			<order>2</order>
			<name>dcc</name>
			<parameters>
				<param>
					<name>dcc_bucket_range</name>
					<min-value>20</min-value>
					<max-value>30</max-value>
					<step>5</step>
				</param>
			</parameters>
		</item>
		<item>
			<order>3</order>
			<name>clique</name>
			<parameters>
				<param>
					<name>clique_bucket_range</name>
					<min-value>1000</min-value>
					<max-value>5000</max-value>
					<step>1000</step>
				</param>
			</parameters>
		</item>
	</session>
</experiment>